<% provide(:title, "About us") %>
<h1>About us</h1>
<p align="center">
  This is offical version Forum-Project of Noname - Team for Software Engineering Subject.
  This product using Rails framework, followed by The Ruby On Rails Tutorial 3rd Edition of Micheal Harlt.<br>
</p>