<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Noname Forum", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% Category.all.each do |t| %>
            <li><%= link_to t.name, t %></li>
        <% end %>

      </ul>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</header>